jupyter==1.1.1
tiktoken==0.12.0
torch==2.11.0
numpy==2.4.4
ipykernel==7.2.0
tensorflow==2.21.0
tqdm==4.67.3
pandas==3.0.2
matplotlib==3.10.9
transformers==5.9.0
scikit-learn==1.8.0
sentence-transformers==5.5.1
faiss-cpu==1.14.2
accelerate>=1.1.0
